<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/master.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>E-Mail list w Axios</title>
  <!-- VUE js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- /VUE js cdn -->
  <!-- AXIOS js cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <!-- /AXIOS js cdn -->
  <title>Document</title>
</head>
<body class="flex">
  <div id="root" class="text-align-cent">
    <h1>Mailing List</h1>
    <div class="content flex">
      <!-- ciclando sia l'item che la i posso associare ogni email a un'immagine, mettendo poi img[i] -->
      <div id="list" v-for="(mail, i) in email" v-if="email.length == 10" class="flex">
        <img :src="img[i]" alt="">
        <p><b> {{ mail }} </b></p>
      </div>
    </div>
  </div>



  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
